name: Sync to Wiki

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'

jobs:
  sync-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Sync Docs to Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: docs
          commit-message: 'Docs synced from main repo'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
